.destinySymbol {
    font-family: DestinySymbols;
}

.info {
    padding-top: 100px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.display-in-row {
    display: flex;
    flex-direction: row;
}

.display-in-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.display-in-row-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon-m5 {
    margin-right: 5px;
    margin-bottom: 5px;
}

.bg-teal {
    background-color: #297373;
}

.min-width {
    width: min-content;
}
.itemCard {
    padding: 7px;
    font-size: 20px;
    width: max-content;
    border-radius: 5px;
}

.center-vertical {
    align-items: center;
}

.center {
    text-align: center;
}

.p5 {
    padding: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}

.rewardIcon {
    height: 30px;
    margin-right: 5px;
}

.md-rewardIcon {
    height: 60px;
    margin-right: 5px;
}

.armorIcon {
    margin-right: 0px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(333deg) brightness(109%) contrast(101%);
}

.highlight {
    background-color: #297373;
}

.rotationTable1 {
    flex-grow: 1;
    padding-right: 10px;
}

.rotationTable2 {
    flex-grow: 2;
}

.rounded-corners {
    border-radius: 5px;
}

.width60 {
    width: 60%;
}

.weaponIcon {
    width: 50px;
    padding: 5px;
}

.subTitle {
    font-size: 20px;
}

.App {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    color: lightgray;
    align-items: center;
    justify-content: center;
}

.footer > * {
    padding-right: 5px;
}

.footerIcon {
    font-size: 20px;
    color: lightgray;
}

.calendar > * {
    margin-right: 10px;
    margin-bottom: 10px;
}

.borderBox {
    border: 1px white solid;
    border-radius: 10px;
    padding: 3px;
    margin-right: 2px;
}